<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.kth.csc.iprog.dinnerplanner.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:name="se.kth.csc.iprog.dinnerplanner.android.DinnerPlannerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SpecialTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name="se.kth.csc.iprog.dinnerplanner.android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="se.kth.csc.iprog.dinnerplanner.android.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="se.kth.csc.iprog.dinnerplanner.android.ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
    </application>

</manifest>